@import '../../styles/mixins';
.month {
    display: flex;
    flex-direction: column;
    width: 100%;
  @include tablet {
    display: grid;
    flex: 1 1 0%;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }
}
